.container {
  width: 650px;
}

h1, h2 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
}

.checkbox {
  border-bottom: 1px solid lightgrey;
}

.completed {
  color: grey;
  text-decoration: line-through;
}
